# PostgreSQL
POSTGRES_PASSWORD=mysecretpass
POSTGRES_USER=postgresuser


# General settings
# DJANGO_READ_DOT_ENV_FILE=True
DJANGO_ADMIN_URL=^admin/
DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_SECRET_KEY=:w,ez+rsfVY2]?)-Q*^}&Jr[/ag-J!YzC8)(*cKZe,AMbD2j|d
DJANGO_ALLOWED_HOSTS=.mnm.social

# Security! Better to use DNS for this task, but you can use redirect
DJANGO_SECURE_SSL_REDIRECT=False

# django-allauth
DJANGO_ACCOUNT_ALLOW_REGISTRATION=False

# This is required if you want to sync instance data from
# https://instances.social/api/1.0/instances/list
# You can get a token here: https://instances.social/api/token
INSTANCES_SOCIAL_API_TOKEN=
# Tweak this if you want to fetch data at a different interval
# (in seconds)
FETCH_DELAY=300
FETCH_COUNTRY_DELAY=300
REFRESH_COUNTRY_DELAY=3000

# leave default if you want to use docker / docker-compose
INFLUXDB_URL=influxdb://root:root@influxdb:8086/mnm

# change this
GF_SERVER_ROOT_URL=https://dashboards.domain.com
GF_SECURITY_ADMIN_PASSWORD==secretpasswordchangethisplease
GF_INSTALL_PLUGINS=grafana-piechart-panel,vonage-status-panel,grafana-worldmap-panel
DJANGO_SENTRY_DSN=


STATUSES_RECORD_CLIENT_ID=
STATUSES_RECORD_CLIENT_SECRET=
STATUSES_RECORD_ACCESS_TOKEN=
STATUSES_RECORD_URL=

STATS_BOT_CLIENT_ID=
STATS_BOT_CLIENT_SECRET=
STATS_BOT_ACCESS_TOKEN=
STATS_BOT_URL=
STATS_BOT_name=mnm
