{% load staticfiles i18n %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Mastodon Network Monitoring{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

    {% block css %}
    <!-- Your stuff: Third-party CSS libraries go here -->
    <link href="{% static 'semantic/semantic.min.css' %}" rel="stylesheet">

    <!-- This file stores project-specific CSS -->
    <link href="{% static 'css/project.css' %}" rel="stylesheet">

    {% endblock %}

  </head>

  <body>

    <div class="ui inverted menu">
      <div class="ui container">
          <a class="header item" href="/">MNM</a>
          <a class="item" href="{% url 'home' %}">Home</a>
          <a class="item" href="{% url 'instances:index' %}">Instances <div class="ui teal label">{{ instances_count }}</div></a>
          <a class="item" href="{% url 'releases:index' %}">Releases <div class="ui orange label">{{ current_release.version }}</div></a>
          <a class="item" href="{% url 'bot:help' %}">Stats bot</a>

      </div>
    </div>
    <div class="ui hidden divider"></div>
    <div class="ui main container">

      {% if messages %}
          {% for message in messages %}
              <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
          {% endfor %}
      {% endif %}

      {% block content %}
      {% endblock content %}

    </div> <!-- /container -->

    <div class="ui hidden divider"></div>

    <div class="ui inverted vertical footer segment">
      <div class="ui center aligned container">
        <div class="ui stackable inverted grid">
          <div class="sixteen wide column">
            Mastodon Network Monitoring
          </div>

      </div>
    </div>

    {% block modal %}{% endblock modal %}

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block javascript %}

      <!-- Your stuff: Third-party javascript libraries go here -->

      <!-- place project specific Javascript in this file -->

      <script src="{% static 'vendor/jquery.min.js' %}"></script>
      <script src="{% static 'semantic/semantic.min.js' %}"></script>
      <script src="{% static 'js/project.js' %}"></script>


    {% endblock javascript %}
  </body>
</html>
