{% extends "base.html" %}

{% block content %}
    <div class="ui text container">
        <h1 class="ui header">{{ instances_count }} instances registered in the MNM project</h1>
        <p>You'll find below a list of instances for which data is fetched and included in MNM statistics and metrics. All instances available at <a href="https://instances.mastodon.xyz">instances.mastodon.xyz</a> should be included here.</p>
    </div>
    {% if is_paginated %}{% load paginator %}{% paginator %}{% endif %}
    {% include 'instances/table.html' with instances=instances %}
    {% if is_paginated %}{% load paginator %}{% paginator %}{% endif %}
{% endblock content %}
